
.span {
    font-style: italic;
}
.conteiner {
    margin: 20px;
    margin-top: 50px;
    display: inline-block;
    text-align:left
}


.main>img {
    max-width: 26px; 
    max-height: 330px;
}
.main {
    color: rgb(13, 13, 65);
}
